.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  align-self: flex-end;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .profile__name {
    font-size: 5.2vw;
  }
}

@media screen and (max-width: 588px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
