.popup__input-error {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  max-width: 362px;
}

.popup__input-error-active {
  color: #ff0000;
}
@media screen and (max-width: 588px) {
  .popup__input-error {
    width: 242px;
  }
}
