.popup__fieldset {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding: 0 0 0 34px;
  outline: none;
  margin-top: 38px;
}

@media screen and (max-width: 588px) {
  .popup__fieldset {
    padding-left: 22px;
  }
}
