.places__image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  aspect-ratio: 1/1;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.places__image:hover {
  transform: scale(1.1);
  z-index: 0;
}
