.header__auth-email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 588px) {
  .header__auth-email {
    display: none;
  }
}